/* ---Choose your Deployment Type--- */
.dep-types-group {
    display: flex;
    align-items: center;
    gap: 15px;
    border-top: 1px dashed #D6D6D6;
    border-bottom: 1px dashed #D6D6D6;
}

.dep-types-group label {
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    color: #1B1C1D;
}

.dep-types-group label.label-hd {
    font-weight: 500;
}

.dep-types-group .custom-radio-group {
    display: flex;
    gap: 15px;
    background-color: #F4F5F6;
    flex: 1;
    padding: 10px 20px;
}

.dep-types-group .custom-radio-group .custom-control {
    flex: 1;
}

.custom-control-label:before {
    border-color: #D6D6D6;
}

.custom-control-input:checked~.custom-control-label:before {
    color: #fff;
    border-color: #D6D6D6;
    background-color: #fff;
}

.custom-radio .custom-control-input:checked~.custom-control-label:after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2.5' fill='rgba(5, 159, 217, 1)'/%3e%3c/svg%3e");

}

.custom-control-label:after {
    background: center center
}

.custom-control-input:focus~.custom-control-label:before {
    box-shadow: none;
}

/* ---Choose your Deployment Type End--- */

.customModal .modal-dialog .modal-header {
    background-color: #F0F7FC;
    padding: 15px 24px;
}

.customModal .modal-dialog .modal-header .close {
    font-size: 1.8rem;
    opacity: .4;
    line-height: 1.2rem;
}

.customModal .modal-content .modal-body {
    padding: 15px 24px;
}

.customModal .modal-footer {
    padding: 15px 24px 15px;

}

.customModal .modal-footer .btn {
    line-height: normal;
    padding: 6px 20px 7px;
    font-size: 14px;
}

.customAlert.alert.alert-warning {
    border: none;
    background-color: #FEF7EC;
    border-left: .175rem solid #C6800F;
}

.alert h5 {
    font-weight: 700;
    font-size: 16px;
}

.text-content-primary {
    color: #1B1C1D !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.nav.nav-pills {
    gap: 12px;
}

.nav-pills .nav-link {
    padding: 10px 16px;
    min-width: 138px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #1B1C1D;
    border-radius: 4px;
    border: 1px solid #D6D6D6;
    background: transparent;
}

.nav-pills .nav-link.active {
    background: rgba(5, 159, 217, 0.30);
    border-color: rgba(5, 159, 217, 0.30);
    color: #1B1C1D;
}




.prd-card-lists .prd-card-content {
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid #D6D6D6;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-top: 8px;
    cursor: pointer;
    color: #1B1C1D;
    font-size: 14px;
}

.prd-card-lists .prd-card-content:hover,
.prd-card-lists .prd-card-content.active {
    border-color: #059FD9;
    box-shadow: #059FD9 0 0 0 1px inset;
}

.prd-card-lists .prd-card-info {
    display: flex;
    gap: 16px;
    flex: 1;
    width: 40%;
}

.prd-card-lists .prd-card-info h6 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.prd-card-lists .text-muted {
    color: #606162 !important;
}

.prd-card-lists .prd-card-info .prd-card-media {
    width: 95px;

}

.prd-card-lists .prd-card-info .prd-card-media img {
    max-width: 100%;
    height: auto;
}

.prd-card-lists .prd-card-detail {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.prd-card-lists .prd-card-btn-group {
    display: flex;
    align-items: center;
}

.prd-card-lists .number-input {
    border-radius: 4px;
    border: 1px solid #D6D6D6;
    text-align: center;
    color: #1B1C1D;
    padding: 5px;
    width: 55px;
    height: 35px;
}

.prd-card-lists .prd-card-title {
    flex: 1;
    overflow: hidden;
}

.prd-card-btn-group .btn {
    line-height: normal;
    padding: 6px 20px 7px;
    font-size: 14px;
}

.prd-card-lists .invalid-badge {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" fill="none"><path fill="%23fff" d="M0 .594h12v12H0z"/><path d="M6 1.344a5.256 5.256 0 0 0-5.25 5.25A5.256 5.256 0 0 0 6 11.844a5.256 5.256 0 0 0 5.25-5.25A5.256 5.256 0 0 0 6 1.344Zm.36 7.86a.376.376 0 0 1-.375.375.376.376 0 0 1-.375-.375v-3c0-.207.169-.375.375-.375s.375.168.375.375v3Zm-.364-4.11a.562.562 0 1 1-.001-1.124.562.562 0 0 1 .001 1.124Z" fill="%23E3241B"/></svg>');
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 20px;
    border-left: 1px solid #D6D6D6;
    margin-left: 5px;
}