/* ---Choose your Deployment Type--- */
.dep-types-group {
    display: flex;
    align-items: center;
    gap: 15px;
    border-top: 1px dashed #D6D6D6;
    border-bottom: 1px dashed #D6D6D6;
}

.dep-types-group label {
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    color: #1B1C1D;
}

.dep-types-group label.label-hd {
    font-weight: 500;
}

.dep-types-group .custom-radio-group {
    display: flex;
    gap: 15px;
    background-color: #F4F5F6;
    flex: 1;
    padding: 10px 20px;
}

.dep-types-group .custom-radio-group .custom-control {
    flex: 1;
}

.custom-control-label:before {
    border-color: #D6D6D6;
}

.custom-control-input:checked~.custom-control-label:before {
    color: #fff;
    border-color: #D6D6D6;
    background-color: #fff;
}

.custom-radio .custom-control-input:checked~.custom-control-label:after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2.5' fill='rgba(5, 159, 217, 1)'/%3e%3c/svg%3e");

}

.custom-control-label:after {
    background: center center
}

.custom-control-input:focus~.custom-control-label:before {
    box-shadow: none;
}

/* ---Choose your Deployment Type End--- */

.customModal .modal-dialog .modal-header {
    background-color: #F0F7FC;
    padding: 15px 24px;
}

.customModal .modal-dialog .modal-header .close {
    font-size: 1.8rem;
    opacity: .4;
    line-height: 1.2rem;
}

.customModal .modal-content .modal-body {
    padding: 15px 24px;
}

.customModal .modal-footer {
    padding: 15px 24px 15px;

}

.customModal .modal-footer .btn {
    line-height: normal;
    padding: 6px 20px 7px;
    font-size: 14px;
}

.customAlert.alert.alert-warning {
    border: none;
    background-color: #FEF7EC;
    border-left: .175rem solid #C6800F;
}

.alert h5 {
    font-weight: 700;
    font-size: 16px;
}

.text-content-primary {
    color: #1B1C1D !important;
}

.fs-14 {
    font-size: 14px !important;
}
.nav.nav-pills{
    gap: 12px;
}
.nav-pills .nav-link {
    padding: 10px 16px;
    min-width: 138px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #1B1C1D;
    border-radius: 4px;
    border: 1px solid #D6D6D6;
    background: transparent; 
}
.nav-pills .nav-link.active{
background: rgba(5, 159, 217, 0.30);
border-color: rgba(5, 159, 217, 0.30);
color: #1B1C1D;
}


.router-card-list{
    border-radius: 4px;
    border: 1px solid #D6D6D6;
    padding: 0 16px;
    cursor: pointer;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.router-card-list.active{
    border-color:#059FD9;
    box-shadow: 0 0 2px #059FD9;  
}
.router-card-list:hover{
    border-color:#059FD9;
    box-shadow: 0 0 2px #059FD9;  
}
.router-card-list .router-card-performance-description {
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 4;
}
.router-card-list .router-card-performance-description .perfomance-text{
    font-size: 16px;
font-weight: 500;
color: #1B1C1D;
}
.router-card-list .product-details{
display: flex;
gap: 48px;
}
.router-card-list .text-muted{
    font-size: 12px;
font-style: normal;
font-weight: 500;
color:#606162
}
.router-card-list .number-input{
    width: 50px;
    border-radius: 4px;
    border: 1px solid #D6D6D6;
    padding: 4px 16px;
}

.router-card-list .router-card-btn-group {
    display: flex;
    flex: 1;
    justify-content: end;
} 
.ellipsis-text{
    white-space: nowrap;      
    overflow: hidden;          
    text-overflow: ellipsis;
    width: 100%;       
}
