/* ---Choose your Deployment Type--- */
.dep-types-group {
    display: flex;
    align-items: center;
    gap: 15px;
    border-top: 1px dashed #D6D6D6;
    border-bottom: 1px dashed #D6D6D6;
}

.dep-types-group label {
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    color: #1B1C1D;
}


.dep-types-group label.label-hd {
    font-weight: 500;
}

.dep-types-group .custom-radio-group {
    display: flex;
    gap: 15px;
    background-color: #F4F5F6;
    flex: 1;
    padding: 10px 20px;
}

.dep-types-group .custom-radio-group .custom-control {
    flex: 1;
}

.custom-control-label:before {
    border-color: #D6D6D6;
}

.custom-control-input:checked~.custom-control-label:before {
    color: #fff;
    border-color: #D6D6D6;
    background-color: #fff;
}

.custom-radio .custom-control-input:checked~.custom-control-label:after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2.5' fill='rgba(5, 159, 217, 1)'/%3e%3c/svg%3e");

}

.custom-control-label:after {
    background: center center
}

.custom-control-input:focus~.custom-control-label:before {
    box-shadow: none;
}

/* ---Choose your Deployment Type End--- */

.customModal .modal-dialog .modal-header {
    background-color: #F0F7FC;
    padding: 15px 24px;
}

.customModal .modal-dialog .modal-header .close {
    font-size: 1.8rem;
    opacity: .4;
    line-height: 1.2rem;
}

.customModal .modal-content .modal-body {
    padding: 15px 24px;
}

.customModal .modal-footer {
    padding: 15px 24px 15px;

}

.customModal .modal-footer .btn {
    line-height: normal;
    padding: 6px 20px 7px;
    font-size: 14px;
}

.customAlert.alert.alert-warning {
    border: none;
    background-color: #FEF7EC;
    border-left: .175rem solid #C6800F;
}

.alert h5 {
    font-weight: 700;
    font-size: 16px;
}

.text-content-primary {
    color: #1B1C1D !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.platform-nav {
    gap: 12px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.platform-nav li label {
    padding: 10px 16px;
    min-width: 194px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #1B1C1D;
    border-radius: 4px;
    border: 1px solid #D6D6D6;
    background: transparent;
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}



.platform-nav input[type="radio"] {
    display: none;
}

.platform-nav input[type="radio"]:checked+.platform-nav-link {
    background: rgba(5, 159, 217, 0.30);
    border-color: rgba(5, 159, 217, 0.30);

}

.platform-nav input[type="radio"]:checked+.platform-nav-link:before {
    position: absolute;
    right: 10px;
    background-image: url('data:image/svg+xml,<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.64008 13.0507C6.51008 13.0507 6.38508 13.0007 6.29008 12.9057L2.74008 9.42072C2.54508 9.22572 2.54008 8.91072 2.73508 8.71572C2.93008 8.51572 3.24508 8.51572 3.44008 8.71072L6.58008 11.7957L12.7101 3.60572C12.8751 3.38572 13.1901 3.34072 13.4101 3.50572C13.6301 3.67072 13.6751 3.98572 13.5101 4.20572L7.04008 12.8507C6.95508 12.9657 6.82008 13.0407 6.68008 13.0507C6.66508 13.0507 6.65508 13.0507 6.64008 13.0507Z" fill="%231B1C1D"/></svg>');
    background-repeat: no-repeat;
    padding-left: 20px;
    background-position: 4% center;
    width: 17px;
    height: 16px;
    content: "";
}



.prd-card-lists .prd-card-content {
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid #D6D6D6;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-top: 8px;
    cursor: pointer;
    color: #1B1C1D;
    font-size: 14px;
}

.prd-card-lists .prd-card-content:hover,
.prd-card-lists .prd-card-content.active {
    border-color: #059FD9;
    box-shadow: #059FD9 0 0 0 1px inset;
}

.prd-card-lists .prd-card-info {
    display: flex;
    gap: 16px;
    flex: 1;
    width: 40%;
}

.prd-card-lists .prd-card-info h6 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.prd-card-lists .text-muted {
    color: #606162 !important;
}

.prd-card-lists .prd-card-info .prd-card-media {
    width: 95px;

}

.prd-card-lists .prd-card-info .prd-card-media img {
    max-width: 100%;
    height: auto;
}

.prd-card-lists .prd-card-detail {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.prd-card-lists .prd-card-btn-group {
    display: flex;
    align-items: center;
}

.prd-card-lists .number-input {
    border-radius: 4px;
    border: 1px solid #D6D6D6;
    text-align: center;
    color: #1B1C1D;
    padding: 5px;
    width: 55px;
    height: 35px;
}

.prd-card-lists .prd-card-title {
    flex: 1;
    overflow: hidden;
}

.prd-card-btn-group .btn {
    line-height: normal;
    padding: 6px 20px 7px;
    font-size: 14px;
}

.prd-card-btn-group .btn.disabled,
.prd-card-btn-group .btn.disabled:hover {
    background-color: #EBEBEB;
    color: #8E8E8E;
    border-color: #EBEBEB;
}


.prd-card-lists .invalid-badge {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" fill="none"><path fill="%23fff" d="M0 .594h12v12H0z"/><path d="M6 1.344a5.256 5.256 0 0 0-5.25 5.25A5.256 5.256 0 0 0 6 11.844a5.256 5.256 0 0 0 5.25-5.25A5.256 5.256 0 0 0 6 1.344Zm.36 7.86a.376.376 0 0 1-.375.375.376.376 0 0 1-.375-.375v-3c0-.207.169-.375.375-.375s.375.168.375.375v3Zm-.364-4.11a.562.562 0 1 1-.001-1.124.562.562 0 0 1 .001 1.124Z" fill="%23E3241B"/></svg>');
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 20px;
    border-left: 1px solid #D6D6D6;
    margin-left: 5px;
}

.grid-icon {
    background-repeat: no-repeat;
    padding-left: 20px;
    background-position: 4% center;
    width: 17px;
    height: 16px;
    display: inline-block;
}

.small-icon {
    background-image: url('data:image/svg+xml,<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.22663 13.047C1.90408 13.047 2.45327 12.4978 2.45327 11.8204C2.45327 11.1429 1.90408 10.5938 1.22663 10.5938C0.549182 10.5938 0 11.1429 0 11.8204C0 12.4978 0.549182 13.047 1.22663 13.047Z" fill="black"/><path d="M4.52213 13.047C5.19958 13.047 5.74876 12.4978 5.74876 11.8204C5.74876 11.1429 5.19958 10.5938 4.52213 10.5938C3.84468 10.5938 3.2955 11.1429 3.2955 11.8204C3.2955 12.4978 3.84468 13.047 4.52213 13.047Z" fill="black"/><path d="M1.22663 16.3411C1.90408 16.3411 2.45327 15.792 2.45327 15.1145C2.45327 14.4371 1.90408 13.8879 1.22663 13.8879C0.549182 13.8879 0 14.4371 0 15.1145C0 15.792 0.549182 16.3411 1.22663 16.3411Z" fill="black"/><path d="M4.52213 16.3411C5.19958 16.3411 5.74876 15.792 5.74876 15.1145C5.74876 14.4371 5.19958 13.8879 4.52213 13.8879C3.84468 13.8879 3.2955 14.4371 3.2955 15.1145C3.2955 15.792 3.84468 16.3411 4.52213 16.3411Z" fill="black"/></svg>');

}

.medium-icon {
    background-image: url('data:image/svg+xml,<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.22663 10.047C1.90408 10.047 2.45327 9.49784 2.45327 8.82038C2.45327 8.14293 1.90408 7.59375 1.22663 7.59375C0.549182 7.59375 0 8.14293 0 8.82038C0 9.49784 0.549182 10.047 1.22663 10.047Z" fill="black"/><path d="M4.52213 10.047C5.19958 10.047 5.74876 9.49784 5.74876 8.82038C5.74876 8.14293 5.19958 7.59375 4.52213 7.59375C3.84468 7.59375 3.2955 8.14293 3.2955 8.82038C3.2955 9.49784 3.84468 10.047 4.52213 10.047Z" fill="black"/><path d="M7.81763 10.047C8.49508 10.047 9.04426 9.49784 9.04426 8.82038C9.04426 8.14293 8.49508 7.59375 7.81763 7.59375C7.14017 7.59375 6.59099 8.14293 6.59099 8.82038C6.59099 9.49784 7.14017 10.047 7.81763 10.047Z" fill="black"/><path d="M1.22663 13.343C1.90408 13.343 2.45327 12.7938 2.45327 12.1163C2.45327 11.4389 1.90408 10.8897 1.22663 10.8897C0.549182 10.8897 0 11.4389 0 12.1163C0 12.7938 0.549182 13.343 1.22663 13.343Z" fill="black"/><path d="M4.52213 13.343C5.19958 13.343 5.74876 12.7938 5.74876 12.1163C5.74876 11.4389 5.19958 10.8897 4.52213 10.8897C3.84468 10.8897 3.2955 11.4389 3.2955 12.1163C3.2955 12.7938 3.84468 13.343 4.52213 13.343Z" fill="black"/><path d="M7.81763 13.343C8.49508 13.343 9.04426 12.7938 9.04426 12.1163C9.04426 11.4389 8.49508 10.8897 7.81763 10.8897C7.14017 10.8897 6.59099 11.4389 6.59099 12.1163C6.59099 12.7938 7.14017 13.343 7.81763 13.343Z" fill="black"/><path d="M1.22663 16.6371C1.90408 16.6371 2.45327 16.0879 2.45327 15.4105C2.45327 14.733 1.90408 14.1838 1.22663 14.1838C0.549182 14.1838 0 14.733 0 15.4105C0 16.0879 0.549182 16.6371 1.22663 16.6371Z" fill="black"/><path d="M4.52213 16.6371C5.19958 16.6371 5.74876 16.0879 5.74876 15.4105C5.74876 14.733 5.19958 14.1838 4.52213 14.1838C3.84468 14.1838 3.2955 14.733 3.2955 15.4105C3.2955 16.0879 3.84468 16.6371 4.52213 16.6371Z" fill="black"/><path d="M7.81763 16.6371C8.49508 16.6371 9.04426 16.0879 9.04426 15.4105C9.04426 14.733 8.49508 14.1838 7.81763 14.1838C7.14017 14.1838 6.59099 14.733 6.59099 15.4105C6.59099 16.0879 7.14017 16.6371 7.81763 16.6371Z" fill="black"/></svg>');

}

.large-icon {
    background-image: url('data:image/svg+xml,<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.22663 7.04702C1.90408 7.04702 2.45327 6.49784 2.45327 5.82038C2.45327 5.14293 1.90408 4.59375 1.22663 4.59375C0.549182 4.59375 0 5.14293 0 5.82038C0 6.49784 0.549182 7.04702 1.22663 7.04702Z" fill="black"/><path d="M4.52213 7.04702C5.19958 7.04702 5.74876 6.49784 5.74876 5.82038C5.74876 5.14293 5.19958 4.59375 4.52213 4.59375C3.84468 4.59375 3.2955 5.14293 3.2955 5.82038C3.2955 6.49784 3.84468 7.04702 4.52213 7.04702Z" fill="black"/><path d="M7.81763 7.04702C8.49508 7.04702 9.04426 6.49784 9.04426 5.82038C9.04426 5.14293 8.49508 4.59375 7.81763 4.59375C7.14017 4.59375 6.59099 5.14293 6.59099 5.82038C6.59099 6.49784 7.14017 7.04702 7.81763 7.04702Z" fill="black"/><path d="M11.1127 7.04702C11.7901 7.04702 12.3393 6.49784 12.3393 5.82038C12.3393 5.14293 11.7901 4.59375 11.1127 4.59375C10.4352 4.59375 9.88603 5.14293 9.88603 5.82038C9.88603 6.49784 10.4352 7.04702 11.1127 7.04702Z" fill="black"/><path d="M1.22663 10.343C1.90408 10.343 2.45327 9.79379 2.45327 9.11634C2.45327 8.43889 1.90408 7.88971 1.22663 7.88971C0.549182 7.88971 0 8.43889 0 9.11634C0 9.79379 0.549182 10.343 1.22663 10.343Z" fill="black"/><path d="M4.52213 10.343C5.19958 10.343 5.74876 9.79379 5.74876 9.11634C5.74876 8.43889 5.19958 7.88971 4.52213 7.88971C3.84468 7.88971 3.2955 8.43889 3.2955 9.11634C3.2955 9.79379 3.84468 10.343 4.52213 10.343Z" fill="black"/><path d="M7.81763 10.343C8.49508 10.343 9.04426 9.79379 9.04426 9.11634C9.04426 8.43889 8.49508 7.88971 7.81763 7.88971C7.14017 7.88971 6.59099 8.43889 6.59099 9.11634C6.59099 9.79379 7.14017 10.343 7.81763 10.343Z" fill="black"/><path d="M11.1127 10.343C11.7901 10.343 12.3393 9.79379 12.3393 9.11634C12.3393 8.43889 11.7901 7.88971 11.1127 7.88971C10.4352 7.88971 9.88603 8.43889 9.88603 9.11634C9.88603 9.79379 10.4352 10.343 11.1127 10.343Z" fill="black"/><path d="M1.22663 13.6389C1.90408 13.6389 2.45327 13.0897 2.45327 12.4123C2.45327 11.7348 1.90408 11.1857 1.22663 11.1857C0.549182 11.1857 0 11.7348 0 12.4123C0 13.0897 0.549182 13.6389 1.22663 13.6389Z" fill="black"/><path d="M4.52213 13.6389C5.19958 13.6389 5.74876 13.0897 5.74876 12.4123C5.74876 11.7348 5.19958 11.1857 4.52213 11.1857C3.84468 11.1857 3.2955 11.7348 3.2955 12.4123C3.2955 13.0897 3.84468 13.6389 4.52213 13.6389Z" fill="black"/><path d="M7.81763 13.6389C8.49508 13.6389 9.04426 13.0897 9.04426 12.4123C9.04426 11.7348 8.49508 11.1857 7.81763 11.1857C7.14017 11.1857 6.59099 11.7348 6.59099 12.4123C6.59099 13.0897 7.14017 13.6389 7.81763 13.6389Z" fill="black"/><path d="M11.1127 13.6389C11.7901 13.6389 12.3393 13.0897 12.3393 12.4123C12.3393 11.7348 11.7901 11.1857 11.1127 11.1857C10.4352 11.1857 9.88603 11.7348 9.88603 12.4123C9.88603 13.0897 10.4352 13.6389 11.1127 13.6389Z" fill="black"/><path d="M1.22663 16.933C1.90408 16.933 2.45327 16.3839 2.45327 15.7064C2.45327 15.029 1.90408 14.4798 1.22663 14.4798C0.549182 14.4798 0 15.029 0 15.7064C0 16.3839 0.549182 16.933 1.22663 16.933Z" fill="black"/><path d="M4.52213 16.933C5.19958 16.933 5.74876 16.3839 5.74876 15.7064C5.74876 15.029 5.19958 14.4798 4.52213 14.4798C3.84468 14.4798 3.2955 15.029 3.2955 15.7064C3.2955 16.3839 3.84468 16.933 4.52213 16.933Z" fill="black"/><path d="M7.81763 16.933C8.49508 16.933 9.04426 16.3839 9.04426 15.7064C9.04426 15.029 8.49508 14.4798 7.81763 14.4798C7.14017 14.4798 6.59099 15.029 6.59099 15.7064C6.59099 16.3839 7.14017 16.933 7.81763 16.933Z" fill="black"/><path d="M11.1127 16.933C11.7901 16.933 12.3393 16.3839 12.3393 15.7064C12.3393 15.029 11.7901 14.4798 11.1127 14.4798C10.4352 14.4798 9.88603 15.029 9.88603 15.7064C9.88603 16.3839 10.4352 16.933 11.1127 16.933Z" fill="black"/></svg>');

}

.x-large-icon {
    background-image: url('data:image/svg+xml,<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.22663 0.59375C0.548377 0.59375 0 1.14213 0 1.82038C0 2.49864 0.548377 3.04702 1.22663 3.04702C1.90489 3.04702 2.45327 2.49864 2.45327 1.82038C2.45327 1.14213 1.90489 0.59375 1.22663 0.59375Z" fill="black"/><path d="M4.52213 0.59375C3.84387 0.59375 3.2955 1.14213 3.2955 1.82038C3.2955 2.49864 3.84387 3.04702 4.52213 3.04702C5.20039 3.04702 5.74876 2.49864 5.74876 1.82038C5.74876 1.14213 5.20039 0.59375 4.52213 0.59375Z" fill="black"/><path d="M7.81763 3.04702C8.49508 3.04702 9.04426 2.49784 9.04426 1.82038C9.04426 1.14293 8.49508 0.59375 7.81763 0.59375C7.14017 0.59375 6.59099 1.14293 6.59099 1.82038C6.59099 2.49784 7.14017 3.04702 7.81763 3.04702Z" fill="black"/><path d="M11.1127 3.04702C11.7901 3.04702 12.3393 2.49784 12.3393 1.82038C12.3393 1.14293 11.7901 0.59375 11.1127 0.59375C10.4352 0.59375 9.88603 1.14293 9.88603 1.82038C9.88603 2.49784 10.4352 3.04702 11.1127 3.04702Z" fill="black"/><path d="M14.4086 3.04702C15.0861 3.04702 15.6353 2.49784 15.6353 1.82038C15.6353 1.14293 15.0861 0.59375 14.4086 0.59375C13.7312 0.59375 13.182 1.14293 13.182 1.82038C13.182 2.49784 13.7312 3.04702 14.4086 3.04702Z" fill="black"/><path d="M1.22663 6.34297C1.90408 6.34297 2.45327 5.79379 2.45327 5.11634C2.45327 4.43889 1.90408 3.88971 1.22663 3.88971C0.549182 3.88971 0 4.43889 0 5.11634C0 5.79379 0.549182 6.34297 1.22663 6.34297Z" fill="black"/><path d="M4.52213 6.34297C5.19958 6.34297 5.74876 5.79379 5.74876 5.11634C5.74876 4.43889 5.19958 3.88971 4.52213 3.88971C3.84468 3.88971 3.2955 4.43889 3.2955 5.11634C3.2955 5.79379 3.84468 6.34297 4.52213 6.34297Z" fill="black"/><path d="M7.81763 6.34297C8.49508 6.34297 9.04426 5.79379 9.04426 5.11634C9.04426 4.43889 8.49508 3.88971 7.81763 3.88971C7.14017 3.88971 6.59099 4.43889 6.59099 5.11634C6.59099 5.79379 7.14017 6.34297 7.81763 6.34297Z" fill="black"/><path d="M11.1127 6.34297C11.7901 6.34297 12.3393 5.79379 12.3393 5.11634C12.3393 4.43889 11.7901 3.88971 11.1127 3.88971C10.4352 3.88971 9.88603 4.43889 9.88603 5.11634C9.88603 5.79379 10.4352 6.34297 11.1127 6.34297Z" fill="black"/><path d="M14.4086 6.34297C15.0861 6.34297 15.6353 5.79379 15.6353 5.11634C15.6353 4.43889 15.0861 3.88971 14.4086 3.88971C13.7312 3.88971 13.182 4.43889 13.182 5.11634C13.182 5.79379 13.7312 6.34297 14.4086 6.34297Z" fill="black"/><path d="M1.22663 9.63893C1.90408 9.63893 2.45327 9.08975 2.45327 8.4123C2.45327 7.73484 1.90408 7.18566 1.22663 7.18566C0.549182 7.18566 0 7.73484 0 8.4123C0 9.08975 0.549182 9.63893 1.22663 9.63893Z" fill="black"/><path d="M4.52213 9.63893C5.19958 9.63893 5.74876 9.08975 5.74876 8.4123C5.74876 7.73484 5.19958 7.18566 4.52213 7.18566C3.84468 7.18566 3.2955 7.73484 3.2955 8.4123C3.2955 9.08975 3.84468 9.63893 4.52213 9.63893Z" fill="black"/><path d="M7.81763 9.63893C8.49508 9.63893 9.04426 9.08975 9.04426 8.4123C9.04426 7.73484 8.49508 7.18566 7.81763 7.18566C7.14017 7.18566 6.59099 7.73484 6.59099 8.4123C6.59099 9.08975 7.14017 9.63893 7.81763 9.63893Z" fill="black"/><path d="M11.1127 9.63893C11.7901 9.63893 12.3393 9.08975 12.3393 8.4123C12.3393 7.73484 11.7901 7.18566 11.1127 7.18566C10.4352 7.18566 9.88603 7.73484 9.88603 8.4123C9.88603 9.08975 10.4352 9.63893 11.1127 9.63893Z" fill="black"/><path d="M14.4086 9.63893C15.0861 9.63893 15.6353 9.08975 15.6353 8.4123C15.6353 7.73484 15.0861 7.18566 14.4086 7.18566C13.7312 7.18566 13.182 7.73484 13.182 8.4123C13.182 9.08975 13.7312 9.63893 14.4086 9.63893Z" fill="black"/><path d="M1.22663 12.9349C1.90408 12.9349 2.45327 12.3857 2.45327 11.7083C2.45327 11.0308 1.90408 10.4816 1.22663 10.4816C0.549182 10.4816 0 11.0308 0 11.7083C0 12.3857 0.549182 12.9349 1.22663 12.9349Z" fill="black"/><path d="M4.52213 12.9349C5.19958 12.9349 5.74876 12.3857 5.74876 11.7083C5.74876 11.0308 5.19958 10.4816 4.52213 10.4816C3.84468 10.4816 3.2955 11.0308 3.2955 11.7083C3.2955 12.3857 3.84468 12.9349 4.52213 12.9349Z" fill="black"/><path d="M7.81763 12.9349C8.49508 12.9349 9.04426 12.3857 9.04426 11.7083C9.04426 11.0308 8.49508 10.4816 7.81763 10.4816C7.14017 10.4816 6.59099 11.0308 6.59099 11.7083C6.59099 12.3857 7.14017 12.9349 7.81763 12.9349Z" fill="black"/><path d="M11.1127 12.9349C11.7901 12.9349 12.3393 12.3857 12.3393 11.7083C12.3393 11.0308 11.7901 10.4816 11.1127 10.4816C10.4352 10.4816 9.88603 11.0308 9.88603 11.7083C9.88603 12.3857 10.4352 12.9349 11.1127 12.9349Z" fill="black"/><path d="M14.4086 12.9349C15.0861 12.9349 15.6353 12.3857 15.6353 11.7083C15.6353 11.0308 15.0861 10.4816 14.4086 10.4816C13.7312 10.4816 13.182 11.0308 13.182 11.7083C13.182 12.3857 13.7312 12.9349 14.4086 12.9349Z" fill="black"/><path d="M1.22663 16.229C1.90408 16.229 2.45327 15.6798 2.45327 15.0024C2.45327 14.3249 1.90408 13.7757 1.22663 13.7757C0.549182 13.7757 0 14.3249 0 15.0024C0 15.6798 0.549182 16.229 1.22663 16.229Z" fill="black"/><path d="M4.52213 16.229C5.19958 16.229 5.74876 15.6798 5.74876 15.0024C5.74876 14.3249 5.19958 13.7757 4.52213 13.7757C3.84468 13.7757 3.2955 14.3249 3.2955 15.0024C3.2955 15.6798 3.84468 16.229 4.52213 16.229Z" fill="black"/><path d="M7.81763 16.229C8.49508 16.229 9.04426 15.6798 9.04426 15.0024C9.04426 14.3249 8.49508 13.7757 7.81763 13.7757C7.14017 13.7757 6.59099 14.3249 6.59099 15.0024C6.59099 15.6798 7.14017 16.229 7.81763 16.229Z" fill="black"/><path d="M11.1127 16.229C11.7901 16.229 12.3393 15.6798 12.3393 15.0024C12.3393 14.3249 11.7901 13.7757 11.1127 13.7757C10.4352 13.7757 9.88603 14.3249 9.88603 15.0024C9.88603 15.6798 10.4352 16.229 11.1127 16.229Z" fill="black"/><path d="M14.4086 16.229C15.0861 16.229 15.6353 15.6798 15.6353 15.0024C15.6353 14.3249 15.0861 13.7757 14.4086 13.7757C13.7312 13.7757 13.182 14.3249 13.182 15.0024C13.182 15.6798 13.7312 16.229 14.4086 16.229Z" fill="black"/></svg>');

}

.icon-right-check {
    background-image: url('data:image/svg+xml,<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.64008 13.0507C6.51008 13.0507 6.38508 13.0007 6.29008 12.9057L2.74008 9.42072C2.54508 9.22572 2.54008 8.91072 2.73508 8.71572C2.93008 8.51572 3.24508 8.51572 3.44008 8.71072L6.58008 11.7957L12.7101 3.60572C12.8751 3.38572 13.1901 3.34072 13.4101 3.50572C13.6301 3.67072 13.6751 3.98572 13.5101 4.20572L7.04008 12.8507C6.95508 12.9657 6.82008 13.0407 6.68008 13.0507C6.66508 13.0507 6.65508 13.0507 6.64008 13.0507Z" fill="%231B1C1D"/></svg>');
    background-repeat: no-repeat;
    padding-left: 20px;
    background-position: 4% center;
    width: 17px;
    height: 16px;
    display: inline-block;
}





.platform-nav input[type="radio"] {
    display: none;
}

.platform-nav input[type="radio"]:checked+.platform-nav-link {
    background: rgba(5, 159, 217, 0.30);
    border-color: rgba(5, 159, 217, 0.30);
    color: #1B1C1D;
}

.platform-nav input[type="radio"]:checked+.platform-nav-link:before {
    position: absolute;
    right: 10px;
    background-image: url('data:image/svg+xml,<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.64008 13.0507C6.51008 13.0507 6.38508 13.0007 6.29008 12.9057L2.74008 9.42072C2.54508 9.22572 2.54008 8.91072 2.73508 8.71572C2.93008 8.51572 3.24508 8.51572 3.44008 8.71072L6.58008 11.7957L12.7101 3.60572C12.8751 3.38572 13.1901 3.34072 13.4101 3.50572C13.6301 3.67072 13.6751 3.98572 13.5101 4.20572L7.04008 12.8507C6.95508 12.9657 6.82008 13.0407 6.68008 13.0507C6.66508 13.0507 6.65508 13.0507 6.64008 13.0507Z" fill="%231B1C1D"/></svg>');
    background-repeat: no-repeat;
    padding-left: 20px;
    background-position: 4% center;
    width: 17px;
    height: 16px;
    content: "";
}